In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
bracket_df = pd.read_csv('Data_cleaning/barttorvik_all_years.csv')
bracket_df.head()

,Year,Rk,School,Seed Rank,Round Finished,Conf,G,Rec,AdjOE,AdjDE,...,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Adj T.,WAB
0,2008,1,Kansas,1 seed,CHAMPS,B12,33,30–3,121.1,85.9,...,37.5,30.8,54.8,40.9,39.9,34.0,29.2,38.1,69.5,9.9
1,2008,2,Memphis,1 seed,Finals,CUSA,34,33–1,113.4,84.0,...,38.6,32.7,53.3,41.6,35.0,29.8,36.7,28.7,70.7,9.0
2,2008,3,UCLA,1 seed,Final Four,P10,33,30–3,116.4,87.2,...,38.0,25.7,52.9,46.8,33.8,34.2,28.1,27.9,66.2,10.7
3,2008,4,Wisconsin,3 seed,Sweet Sixteen,B10,33,29–4,112.3,85.2,...,39.3,25.4,49.2,41.3,35.9,31.1,31.1,32.8,63.5,8.2
4,2008,5,Duke,2 seed,R32,ACC,32,27–5,117.3,89.0,...,40.4,32.0,51.8,47.1,38.4,32.8,39.1,24.8,73.7,8.9

In [5]:
bracket_df['Seed Rank'] = bracket_df['Seed Rank'].str.replace('seed', '', regex=False)
bracket_df.head()

,Year,Rk,School,Seed Rank,Round Finished,Conf,G,Rec,AdjOE,AdjDE,...,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Adj T.,WAB
0,2008,1,Kansas,1,CHAMPS,B12,33,30–3,121.1,85.9,...,37.5,30.8,54.8,40.9,39.9,34.0,29.2,38.1,69.5,9.9
1,2008,2,Memphis,1,Finals,CUSA,34,33–1,113.4,84.0,...,38.6,32.7,53.3,41.6,35.0,29.8,36.7,28.7,70.7,9.0
2,2008,3,UCLA,1,Final Four,P10,33,30–3,116.4,87.2,...,38.0,25.7,52.9,46.8,33.8,34.2,28.1,27.9,66.2,10.7
3,2008,4,Wisconsin,3,Sweet Sixteen,B10,33,29–4,112.3,85.2,...,39.3,25.4,49.2,41.3,35.9,31.1,31.1,32.8,63.5,8.2
4,2008,5,Duke,2,R32,ACC,32,27–5,117.3,89.0,...,40.4,32.0,51.8,47.1,38.4,32.8,39.1,24.8,73.7,8.9

In [ ]:
y = bracket_df(columns="Seed Rank")
X = bracket_df.drop(columns="Round Finished")