In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
bracket_df = pd.read_csv('Data_cleaning/barttorvik_all_years.csv')
bracket_df.head()

,Year,Seed,School,Round Finished,Conf,G,Rec,AdjOE,AdjDE,AdjNR,...,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Adj T.,WAB
0,2008,1,Kansas,6.0,B12,33,30–3,121.1,85.9,35.2,...,37.5,30.8,54.8,40.9,39.9,34.0,29.2,38.1,69.5,9.9
1,2008,1,Memphis,5.0,CUSA,34,33–1,113.4,84.0,29.4,...,38.6,32.7,53.3,41.6,35.0,29.8,36.7,28.7,70.7,9.0
2,2008,1,UCLA,4.0,P10,33,30–3,116.4,87.2,29.2,...,38.0,25.7,52.9,46.8,33.8,34.2,28.1,27.9,66.2,10.7
3,2008,3,Wisconsin,2.0,B10,33,29–4,112.3,85.2,27.1,...,39.3,25.4,49.2,41.3,35.9,31.1,31.1,32.8,63.5,8.2
4,2008,2,Duke,1.0,ACC,32,27–5,117.3,89.0,28.3,...,40.4,32.0,51.8,47.1,38.4,32.8,39.1,24.8,73.7,8.9

In [2]:
#Exclude 2025 data from CSV

#Create Copy of Data
copy_df = bracket_df.copy()

#Create New Dataframe for all years except 2025
no_2025_df = copy_df.loc[(copy_df["Year"] != 2025)]

In [3]:
#Create Dummies Dataframe
dummies_df = pd.get_dummies(no_2025_df)
dummies_df.head()

,Year,Seed,Round Finished,G,AdjOE,AdjDE,AdjNR,Barthag,EFG%,EFGD%,...,Rec_30–2,Rec_30–3,Rec_30–4,Rec_31–2,Rec_31–3,Rec_32–1,Rec_32–2,Rec_33–0,Rec_33–1,Rec_34–0
0,2008,1,6.0,33,121.1,85.9,35.2,0.9810,56.3,44.8,...,False,True,False,False,False,False,False,False,False,False
1,2008,1,5.0,34,113.4,84.0,29.4,0.9692,53.0,42.5,...,False,False,False,False,False,False,False,False,True,False
2,2008,1,4.0,33,116.4,87.2,29.2,0.9653,52.3,48.0,...,False,True,False,False,False,False,False,False,False,False
3,2008,3,2.0,33,112.3,85.2,27.1,0.9599,50.6,43.1,...,False,False,False,False,False,False,False,False,False,False
4,2008,2,1.0,32,117.3,89.0,28.3,0.9597,54.1,47.6,...,False,False,False,False,False,False,False,False,False,False

In [4]:
#separate Data into features and target arrays
y = dummies_df["Round Finished"]
X = dummies_df.drop(columns="Round Finished")

#Split the data into training and testing dataset\
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [5]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
#Create Neural network model
nn = tf.keras.models.Sequential()

#Create input Layer
nn.add(tf.keras.layers.Input(shape=[43]))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=7, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()