In [1]:
import pandas as pd

#test how I would retreive and clean data

# Define the URL
year = 2008  
url = f"https://barttorvik.com/trank.php?year={year}"

# Read the table from the URL
tables = pd.read_html(url) 

# Inspect the first table
df = tables[0]  

# Display the DataFrame
df.head(341)

    Unnamed: 0_level_0                  Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk                                Team               Conf
0                    1              Kansas  1 seed, CHAMPS                B12
1                    2             Memphis  1 seed, Finals               CUSA
2                    3            UCLA  1 seed, Final Four                P10
3                    4  North Carolina  1 seed, Final Four                ACC
4                    5    Wisconsin  3 seed, Sweet Sixteen                B10
..                 ...                                 ...                ...
336                325                               Maine                 AE
337                 Rk                                Team               Conf
338                326                     Bethune Cookman               MEAC
339                327                   Winston Salem St.                ind
340                328                            Longwood                ind

    Unnamed: 3_level_0 D-I Avg:     102.5                0.4929 Eff. FG% 49.8  \
                     G      Rec     AdjOE      AdjDE    Barthag          EFG%
0                   40     37-3   122.1 2     86.4 2    .9815 1        56.6 5
1                   40     38-2   117.7 6     86.9 3    .9703 2       52.7 53
2                   39     35-4   116.9 8     87.7 5    .9647 3       52.2 73
3                   39     36-3   123.6 1    92.8 26    .9643 4       53.0 47
4                   36     31-5  113.3 36     86.3 1    .9580 5      50.6 138
..                 ...      ...       ...        ...        ...           ...
336                 30     7-23  90.4 325  108.2 275  .1127 325      46.6 287
337                  G      Rec     AdjOE      AdjDE    Barthag          Efg%
338                 32    11-21  91.9 319  110.4 310  .1077 326      48.5 220
339                 30    12-18  88.8 331  106.9 251  .1066 327      43.8 330
340                 31     9-22  96.1 264  115.9 339  .1038 328      45.2 318

               ... FT Rate 36.3           2-Pt % 48.4           3-Pt % 35.1  \
        EFGD%  ...          FTR      FTRD         2P%      2P%D         3P%
0      44.3 9  ...     36.4 176   31.0 60      55.4 6    41.2 4     39.7 12
1      43.4 5  ...      40.4 64   31.7 73     52.9 29   42.6 10    34.9 169
2     46.5 35  ...     37.3 144   25.6 10     52.4 37   45.4 64    34.4 193
3     48.2 90  ...     38.0 126   25.7 11     52.1 44  47.8 137     37.2 80
4      43.4 5  ...      39.9 80    25.4 8    49.3 128    41.7 5    35.6 144
..        ...  ...          ...       ...         ...       ...         ...
336  50.3 189  ...      40.0 77  35.0 140    44.7 294  48.2 153    33.8 217
337     EfgD%  ...          FTR      FTRD         2P%      2P%D         3P%
338  49.2 135  ...      42.0 35  38.8 210    47.9 187  49.7 220    33.5 230
339  48.7 111  ...     35.0 214  36.3 164    43.8 309  50.1 237    29.2 332
340  56.3 335  ...     31.7 282  39.3 223    40.0 337  54.6 324    35.8 135

              3P Rate 34.4                65.6 Unnamed: 23_level_0
         3P%D          3PR      3PRD    Adj T.                 WAB
0     32.8 54     29.3 286  38.3 284  67.0 117              +9.9 3
1      30.2 7     35.2 146   28.7 26   68.5 72              +9.0 5
2     32.9 57     28.0 304   27.5 14  64.4 213             +10.7 2
3     32.6 45     22.6 339  34.2 164    73.0 8             +11.9 1
4     31.3 22     31.8 229  33.0 123  61.4 306              +8.2 8
..        ...          ...       ...       ...                 ...
336  36.2 237     30.6 257  34.3 168   67.6 98           -18.3 324
337      3P%D          3PR      3PRD    Adj T.                 WAB
338   32.2 36     26.0 326  33.3 134  58.0 337           -17.8 321
339   30.7 11     31.8 229  33.8 149  65.9 152           -14.1 280
340  39.8 327      37.9 84  33.7 145   67.5 99           -16.8 316

[341 rows x 24 columns]

In [2]:
print(df.columns)

MultiIndex([( 'Unnamed: 0_level_0',      'Rk'),
            ( 'Unnamed: 1_level_0',    'Team'),
            ( 'Unnamed: 2_level_0',    'Conf'),
            ( 'Unnamed: 3_level_0',       'G'),
            (           'D-I Avg:',     'Rec'),
            (              '102.5',   'AdjOE'),
            (              '102.5',   'AdjDE'),
            (             '0.4929', 'Barthag'),
            (      'Eff. FG% 49.8',    'EFG%'),
            (      'Eff. FG% 49.8',   'EFGD%'),
            (     'Turnover% 21.1',     'TOR'),
            (     'Turnover% 21.1',    'TORD'),
            (      'Rebound% 32.8',     'ORB'),
            (      'Rebound% 32.8',     'DRB'),
            (       'FT Rate 36.3',     'FTR'),
            (       'FT Rate 36.3',    'FTRD'),
            (        '2-Pt % 48.4',     '2P%'),
            (        '2-Pt % 48.4',    '2P%D'),
            (        '3-Pt % 35.1',     '3P%'),
            (        '3-Pt % 35.1',    '3P%D'),
            (       '3P Rate 34.4',     '3PR'),
            (       '3P Rate 34.4',    '3PRD'),
            (               '65.6',  'Adj T.'),
            ('Unnamed: 23_level_0',     'WAB')],
           )

In [3]:
# Drop the first level of multiIndex columns
df.columns = df.columns.droplevel(0)

# Display updated DataFrame
print(df.head())

  Rk                                Team  Conf   G   Rec     AdjOE    AdjDE  \
0  1              Kansas  1 seed, CHAMPS   B12  40  37-3   122.1 2   86.4 2
1  2             Memphis  1 seed, Finals  CUSA  40  38-2   117.7 6   86.9 3
2  3            UCLA  1 seed, Final Four   P10  39  35-4   116.9 8   87.7 5
3  4  North Carolina  1 seed, Final Four   ACC  39  36-3   123.6 1  92.8 26
4  5    Wisconsin  3 seed, Sweet Sixteen   B10  36  31-5  113.3 36   86.3 1

   Barthag      EFG%    EFGD%  ...       FTR     FTRD       2P%      2P%D  \
0  .9815 1    56.6 5   44.3 9  ...  36.4 176  31.0 60    55.4 6    41.2 4
1  .9703 2   52.7 53   43.4 5  ...   40.4 64  31.7 73   52.9 29   42.6 10
2  .9647 3   52.2 73  46.5 35  ...  37.3 144  25.6 10   52.4 37   45.4 64
3  .9643 4   53.0 47  48.2 90  ...  38.0 126  25.7 11   52.1 44  47.8 137
4  .9580 5  50.6 138   43.4 5  ...   39.9 80   25.4 8  49.3 128    41.7 5

        3P%     3P%D       3PR      3PRD    Adj T.      WAB
0   39.7 12  32.8 54  29.3 286  38.3 284  67.0 117   +9.9 3
1  34.9 169   30.2 7  35.2 146   28.7 26   68.5 72   +9.0 5
2  34.4 193  32.9 57  28.0 304   27.5 14  64.4 213  +10.7 2
3   37.2 80  32.6 45  22.6 339  34.2 164    73.0 8  +11.9 1
4  35.6 144  31.3 22  31.8 229  33.0 123  61.4 306   +8.2 8

[5 rows x 24 columns]

In [7]:
new_df = df[df[("Team")].astype(str).str.contains("seed", na=False)]
new_df.head(65)

,Rk,Team,Conf,G,Rec,AdjOE,AdjDE,Barthag,EFG%,EFGD%,...,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Adj T.,WAB
0,1,"Kansas 1 seed, CHAMPS",B12,40,37-3,122.1 2,86.4 2,.9815 1,56.6 5,44.3 9,...,36.4 176,31.0 60,55.4 6,41.2 4,39.7 12,32.8 54,29.3 286,38.3 284,67.0 117,+9.9 3
1,2,"Memphis 1 seed, Finals",CUSA,40,38-2,117.7 6,86.9 3,.9703 2,52.7 53,43.4 5,...,40.4 64,31.7 73,52.9 29,42.6 10,34.9 169,30.2 7,35.2 146,28.7 26,68.5 72,+9.0 5
2,3,"UCLA 1 seed, Final Four",P10,39,35-4,116.9 8,87.7 5,.9647 3,52.2 73,46.5 35,...,37.3 144,25.6 10,52.4 37,45.4 64,34.4 193,32.9 57,28.0 304,27.5 14,64.4 213,+10.7 2
3,4,"North Carolina 1 seed, Final Four",ACC,39,36-3,123.6 1,92.8 26,.9643 4,53.0 47,48.2 90,...,38.0 126,25.7 11,52.1 44,47.8 137,37.2 80,32.6 45,22.6 339,34.2 164,73.0 8,+11.9 1
4,5,"Wisconsin 3 seed, Sweet Sixteen",B10,36,31-5,113.3 36,86.3 1,.9580 5,50.6 138,43.4 5,...,39.9 80,25.4 8,49.3 128,41.7 5,35.6 144,31.3 22,31.8 229,33.0 123,61.4 306,+8.2 8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,164,"Austin Peay 15 seed, R64",OVC,35,24-11,103.1 162,103.6 189,.4869 164,51.7 97,54.2 319,...,44.3 20,32.7 90,48.4 167,53.0 312,38.2 42,37.4 289,37.3 93,40.0 312,65.5 169,-5.1 132
175,170,"Mount St. Mary's 16 seed, R64",NEC,34,19-15,99.9 209,100.8 137,.4728 170,49.8 170,47.2 53,...,38.7 110,38.0 196,47.9 187,46.7 96,36.1 116,32.2 36,30.4 262,30.4 45,65.9 153,-9.3 191
191,185,"UT Arlington 16 seed, R64",Slnd,33,21-12,100.9 190,103.7 192,.4220 185,52.3 68,47.5 63,...,41.4 43,38.8 210,52.5 33,46.6 93,34.6 182,32.6 45,31.1 243,41.2 324,68.7 66,-6.9 160
304,294,"Coppin St. 16 seed, R68",MEAC,36,15-21,92.4 312,105.7 231,.1741 294,43.5 332,50.4 195,...,36.6 166,39.9 239,42.0 327,49.1 196,32.0 285,34.9 154,24.4 335,37.8 274,62.1 292,-12.9 268
318,307,"Mississippi Valley St. 16 seed, R64",SWAC,33,17-16,90.7 323,105.3 221,.1521 307,43.4 334,49.8 163,...,40.3 67,36.9 177,40.7 334,50.9 260,34.2 198,31.6 27,24.8 331,31.5 74,63.2 261,-9.9 202

In [9]:
# List of specific columns to modify
cleaned_columns = ["AdjOE", "AdjDE", "Barthag", "EFG%", "EFGD%", "TOR", "TORD", "ORB", "DRB",
                    "FTR", "FTRD", "2P%", "2P%D", "3P%", "3P%D", "3PR", "3PRD", "Adj T.", "WAB"]

# Apply transformation only to selected columns
new_df.loc[:, cleaned_columns] = new_df[cleaned_columns].apply(lambda col: col.astype(str).str.split(" ").str[0])


# Display the cleaned DataFrame
new_df.head()

C:\Users\duvoe\AppData\Local\Temp\ipykernel_27216\1828822140.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, cleaned_columns] = new_df[cleaned_columns].apply(lambda col: col.astype(str).str.split(" ").str[0])

,Rk,Team,Conf,G,Rec,AdjOE,AdjDE,Barthag,EFG%,EFGD%,...,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Adj T.,WAB
0,1,"Kansas 1 seed, CHAMPS",B12,40,37-3,122.1,86.4,.9815,56.6,44.3,...,36.4,31.0,55.4,41.2,39.7,32.8,29.3,38.3,67.0,+9.9
1,2,"Memphis 1 seed, Finals",CUSA,40,38-2,117.7,86.9,.9703,52.7,43.4,...,40.4,31.7,52.9,42.6,34.9,30.2,35.2,28.7,68.5,+9.0
2,3,"UCLA 1 seed, Final Four",P10,39,35-4,116.9,87.7,.9647,52.2,46.5,...,37.3,25.6,52.4,45.4,34.4,32.9,28.0,27.5,64.4,+10.7
3,4,"North Carolina 1 seed, Final Four",ACC,39,36-3,123.6,92.8,.9643,53.0,48.2,...,38.0,25.7,52.1,47.8,37.2,32.6,22.6,34.2,73.0,+11.9
4,5,"Wisconsin 3 seed, Sweet Sixteen",B10,36,31-5,113.3,86.3,.9580,50.6,43.4,...,39.9,25.4,49.3,41.7,35.6,31.3,31.8,33.0,61.4,+8.2

In [11]:
# Extract the School Name
new_df.loc[:, 'School'] = new_df['Team'].str.extract(r'(.+?)\s+\d+\sseed')

# Extract the Seed Rank
new_df.loc[:, 'Seed Rank'] = new_df['Team'].str.extract(r'(\d+\sseed)')

# Extract the Round Finished (if present)
new_df.loc[:, 'Round Finished'] = new_df['Team'].str.extract(r'\d+\sseed,\s*(.*)')


new_df.loc[:, 'Year'] = year

C:\Users\duvoe\AppData\Local\Temp\ipykernel_27216\3395181850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, 'School'] = new_df['Team'].str.extract(r'(.+?)\s+\d+\sseed')
C:\Users\duvoe\AppData\Local\Temp\ipykernel_27216\3395181850.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, 'Seed Rank'] = new_df['Team'].str.extract(r'(\d+\sseed)')
C:\Users\duvoe\AppData\Local\Temp\ipykernel_27216\3395181850.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, 'Round Finished'] = new_df['Team'].str.extract(r'\d+\sseed,\s*(.*)')
C:\Users\duvoe\AppData\Local\Temp\ipykernel_27216\3395181850.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, 'Year'] = year

In [13]:
new_df.head()

,Rk,Team,Conf,G,Rec,AdjOE,AdjDE,Barthag,EFG%,EFGD%,...,3P%,3P%D,3PR,3PRD,Adj T.,WAB,School,Seed Rank,Round Finished,Year
0,1,"Kansas 1 seed, CHAMPS",B12,40,37-3,122.1,86.4,.9815,56.6,44.3,...,39.7,32.8,29.3,38.3,67.0,+9.9,Kansas,1 seed,CHAMPS,2008
1,2,"Memphis 1 seed, Finals",CUSA,40,38-2,117.7,86.9,.9703,52.7,43.4,...,34.9,30.2,35.2,28.7,68.5,+9.0,Memphis,1 seed,Finals,2008
2,3,"UCLA 1 seed, Final Four",P10,39,35-4,116.9,87.7,.9647,52.2,46.5,...,34.4,32.9,28.0,27.5,64.4,+10.7,UCLA,1 seed,Final Four,2008
3,4,"North Carolina 1 seed, Final Four",ACC,39,36-3,123.6,92.8,.9643,53.0,48.2,...,37.2,32.6,22.6,34.2,73.0,+11.9,North Carolina,1 seed,Final Four,2008
4,5,"Wisconsin 3 seed, Sweet Sixteen",B10,36,31-5,113.3,86.3,.9580,50.6,43.4,...,35.6,31.3,31.8,33.0,61.4,+8.2,Wisconsin,3 seed,Sweet Sixteen,2008

In [15]:
#Get all years data with For Loop

In [51]:
# Define the range of years
years = range(2008, 2026)

# Initialize a list to store DataFrames
df_list = []

# Loop through each year, fetch data, process it, and append to the list
for year in years:
    url2 = f"https://barttorvik.com/trank.php?year={year}&sort=&top=0&conlimit=All&venue=All&type=R#"
    try:
        # Read tables from URL
        tables2 = pd.read_html(url2)
        df2 = tables2[0] 

        # Drop the first level of MultiIndex columns if present
        if isinstance(df2.columns, pd.MultiIndex):
            df2.columns = df2.columns.droplevel(0)

        # Filter only teams with "seed" in their name
        df_filtered = df2[df2["Team"].astype(str).str.contains("seed", na=False)].copy()

        # List of specific columns to clean
        columns_to_clean = ["AdjOE", "AdjDE", "Barthag", "EFG%", "EFGD%", "TOR", "TORD", "ORB", "DRB",
                            "FTR", "FTRD", "2P%", "2P%D", "3P%", "3P%D", "3PR", "3PRD", "Adj T.", "WAB", "Rec"]

        # Extract first numeric value before space in each column
        df_filtered[columns_to_clean] = df_filtered[columns_to_clean].astype(str).apply(lambda col: col.str.split().str[0])

        # Extract School Name, Seed Rank, and Round Finished
        df_filtered["School"] = df_filtered["Team"].str.extract(r'(.+?)\s+\d+\sseed')
        df_filtered["Seed Rank"] = df_filtered["Team"].str.extract(r'(\d+\sseed)')
        df_filtered["Round Finished"] = df_filtered["Team"].str.extract(r'\d+\sseed,\s*(.*)')

        # Add Year column
        df_filtered["Year"] = year

        # Append to list
        df_list.append(df_filtered)
        print(f"Successfully processed data for {year}")

    except Exception as e:
        print(f"Failed to fetch or process data for {year}: {e}")

# Combine all DataFrames into one
df_combined = pd.concat(df_list, ignore_index=True)

Successfully processed data for 2008
Successfully processed data for 2009
Successfully processed data for 2010
Successfully processed data for 2011
Successfully processed data for 2012
Successfully processed data for 2013
Successfully processed data for 2014
Successfully processed data for 2015
Successfully processed data for 2016
Successfully processed data for 2017
Successfully processed data for 2018
Successfully processed data for 2019
Successfully processed data for 2020
Successfully processed data for 2021
Successfully processed data for 2022
Successfully processed data for 2023
Successfully processed data for 2024
Successfully processed data for 2025

In [53]:
df_combined.head()

,Rk,Team,Conf,G,Rec,AdjOE,AdjDE,Barthag,EFG%,EFGD%,...,3P%,3P%D,3PR,3PRD,Adj T.,WAB,School,Seed Rank,Round Finished,Year
0,1,"Kansas 1 seed, CHAMPS",B12,33,30–3,121.1,85.9,.9810,56.3,44.8,...,39.9,34.0,29.2,38.1,69.5,+9.9,Kansas,1 seed,CHAMPS,2008
1,2,"Memphis 1 seed, Finals",CUSA,34,33–1,113.4,84.0,.9692,53.0,42.5,...,35.0,29.8,36.7,28.7,70.7,+9.0,Memphis,1 seed,Finals,2008
2,3,"UCLA 1 seed, Final Four",P10,33,30–3,116.4,87.2,.9653,52.3,48.0,...,33.8,34.2,28.1,27.9,66.2,+10.7,UCLA,1 seed,Final Four,2008
3,4,"Wisconsin 3 seed, Sweet Sixteen",B10,33,29–4,112.3,85.2,.9599,50.6,43.1,...,35.9,31.1,31.1,32.8,63.5,+8.2,Wisconsin,3 seed,Sweet Sixteen,2008
4,5,"Duke 2 seed, R32",ACC,32,27–5,117.3,89.0,.9597,54.1,47.6,...,38.4,32.8,39.1,24.8,73.7,+8.9,Duke,2 seed,R32,2008

In [55]:
# Clear Round Finished values for Year 2025
df_combined.loc[df_combined["Year"] == 2025, "Round Finished"] = ""

In [57]:
df_combined["AdjOE"] = pd.to_numeric(df_combined["AdjOE"])
df_combined["AdjDE"] = pd.to_numeric(df_combined["AdjDE"])

df_combined["AdjNR"] = df_combined["AdjOE"] - df_combined["AdjDE"]

In [59]:
# Select final columns
final_columns = ["Year", "Rk", "School", "Seed Rank", "Round Finished", "Conf", "G", "Rec", 
                 "AdjOE", "AdjDE", "AdjNR", "Barthag", "EFG%", "EFGD%", "TOR", "TORD", 
                 "ORB", "DRB", "FTR", "FTRD", "2P%", "2P%D", "3P%", "3P%D", 
                 "3PR", "3PRD", "Adj T.", "WAB"]

# Filter final DataFrame
final_df = df_combined[final_columns]

In [61]:
final_df.head()

,Year,Rk,School,Seed Rank,Round Finished,Conf,G,Rec,AdjOE,AdjDE,...,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,Adj T.,WAB
0,2008,1,Kansas,1 seed,CHAMPS,B12,33,30–3,121.1,85.9,...,37.5,30.8,54.8,40.9,39.9,34.0,29.2,38.1,69.5,+9.9
1,2008,2,Memphis,1 seed,Finals,CUSA,34,33–1,113.4,84.0,...,38.6,32.7,53.3,41.6,35.0,29.8,36.7,28.7,70.7,+9.0
2,2008,3,UCLA,1 seed,Final Four,P10,33,30–3,116.4,87.2,...,38.0,25.7,52.9,46.8,33.8,34.2,28.1,27.9,66.2,+10.7
3,2008,4,Wisconsin,3 seed,Sweet Sixteen,B10,33,29–4,112.3,85.2,...,39.3,25.4,49.2,41.3,35.9,31.1,31.1,32.8,63.5,+8.2
4,2008,5,Duke,2 seed,R32,ACC,32,27–5,117.3,89.0,...,40.4,32.0,51.8,47.1,38.4,32.8,39.1,24.8,73.7,+8.9

In [67]:
# Save to a single CSV file
final_df.to_csv("barttorvik_all_years.csv", index=False)

In [73]:
final_df.to_json('final_df.json', orient='index')